# Python files #
################
# setup.py working directory
build

# Sphinx
_build
_static
_templates

# Compiled source #
###################
*.py[ocd]

# Editor temporary/working/backup files #
#########################################
.#*
*.*#
*~
*.egg-info
*.d
*.o
*.so

# Log files and alike
#####################
*.log
*.out

# vscode
.vscode/.*

# Patches #
###########
*.patch
*.diff

# Media files
#############
*.png
*.jpg
*.eps
*.gif

# ROOT files
############
*.root
*.pcm
*.rootmap
*_ACLiC_linkdef.h
*_ACLiC_map.in

# Ninja
.ninja_log
.ninja_deps 

# OSTAP
.ostaprc
.ostap_config.txt
.ostap_history 