# Python files #
################
# setup.py working directory
build

# Compiled source #
###################
*.py[ocd]

# Editor temporary/working/backup files #
#########################################
.#*
*~

# Patches #
###########
*.patch
*.diff

